@font-face {
    font-family: embossed_background;
    src: url("assets/fzm-Embossed.Label.ttf");
}

@font-face {
    font-family: embossed_overlay;
    src: url("assets/fzm-Embossed.Text.ttf");
}

@font-face {
    font-family: marker;
    src: url("assets/PermanentMarker.ttf");
}

body {
    background-image: url("assets/Texture_Chipboard.jpg");
    background-repeat: repeat;
    background-size: 400px 400px;
}

.centered {
    width: 100%; 
    margin: 0 auto;
    height: 100%
}

#title{

    font-family: marker;   
    text-align: center;
    mix-blend-mode: hard-light;

    font-size: 110pt;
    margin: 200px auto 0px auto;

    line-height: 90%;

    -ms-transform: rotate(-1deg); 
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);  
}